.hero {
  background-color: $action-color;
  color: #fff;
  height: 480px;
  padding-top: $base-spacing;
}

.hero-header,
.scene {
  @include outer-container;
}

.event-name {
  font-size: modular-scale(6);
  font-weight: 700;
  margin-bottom: 0;
}

.event-date {
  font-size: modular-scale(3);
}

.cta-tickets {
  background-color: shade($action-color, 25%);
  font-size: modular-scale(0);

  &:hover {
    background-color: #fff;
    color: $base-font-color;
  }
}

.container {
  @include outer-container;
}

.section {
  padding: $base-spacing * 2 0;

  .section-header {
    color: $action-color;
    font-size: modular-scale(3);
  }
}

.intro {
  font-size: modular-scale(2);
  margin-bottom: $base-spacing * 2;
}

.event-description {

  h4 {
    color: $action-color;
    font-size: modular-scale(1);
  }
}

.benefits {
  @include span-columns(4);
}

.requirements {
  @include span-columns(4);
}

.sponsors-grid {
  @include clearfix;

  margin-bottom: $base-spacing;

  li {
    @include span-columns(4);
    @include omega(3n);
  }
}

.newsletter {

  label {
    font-weight: 500;
  }

  input {
    font-size: modular-scale(0);
    display: inline-block;

    &[type="email"] {
      line-height: 1;
      margin-bottom: 0;
      margin-right: 1em;
      padding: $small-spacing 0.5em;
      width: flex-grid(8);
    }

    &[type="submit"] {
      border: 1px solid $action-color;
      vertical-align: baseline;
    }
  }
}

.footer {
  background-color: mix($dark-gray, $action-color, 95%);
  color: $medium-gray;
  padding: $base-spacing;
  text-align: center;

  p {
    font-size: modular-scale(-1);
    margin-bottom: 0;
  }

  a {
    color: $medium-gray;
    text-decoration: underline;
  }
}
