.hero {
  background-color: $action-color;
  color: #fff;
  height: 480px;
  padding-top: $base-spacing;
}

.hero-header,
.scene {
  @include outer-container;
}

.event-name {
  font-size: modular-scale(6);
  font-weight: 700;
  margin-bottom: 0;
}

.event-date {
  font-size: modular-scale(3);
}

.container {
  @include outer-container;
}

.section {
  padding: $base-spacing * 2 0;

  .section-header {
    color: $action-color;
    font-size: modular-scale(3);
  }
}

.intro {
  font-size: modular-scale(2);
  margin-bottom: $base-spacing * 2;
}

.event-description {

  h4 {
    color: $action-color;
    font-size: modular-scale(1);
  }
}

.benefits {
  @include span-columns(4);
}

.requirements {
  @include span-columns(4);
}

.sponsors-grid {
  @include clearfix;

  margin-bottom: $base-spacing;

  li {
    @include span-columns(4);
    @include omega(3n);
  }
}

.footer {
  background-color: mix($dark-gray, $action-color, 95%);
  color: $medium-gray;
  padding: $base-spacing;
  text-align: center;

  p {
    font-size: modular-scale(-1);
    margin-bottom: 0;
  }
}
