.hero {
  background-color: $action-color;
  color: #fff;
  padding-top: $base-spacing;

  @include media($small-screen) {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.hero-header {
  @include outer-container;

  background: image-url("hero-header.png") left 0 bottom 1.5em no-repeat;
  height: 460px;
  text-align: center;

  @include media($small-screen) {
    background: none;
  }
}

.event-name {
  font-size: modular-scale(6);
  font-weight: 700;
  margin-bottom: 0;

  @include media($small-screen) {
    font-size: modular-scale(5);
  }
}

.event-date {
  font-size: modular-scale(3);

  @include media($small-screen) {
    font-size: modular-scale(2);
  }
}

.cta-tickets {
  background-color: shade($action-color, 25%);
  font-size: modular-scale(0);

  &:hover {
    background-color: #fff;
    color: $base-font-color;
  }
}

.section {
  padding: $base-spacing * 2 0;

  .section-header {
    color: $action-color;
    font-size: modular-scale(3);
  }
}

.intro {
  font-size: modular-scale(2);
  margin-bottom: $base-spacing * 2;

  @include media($small-screen) {
    font-size: modular-scale(1);
  }
}

.event-description {

  h4 {
    color: $action-color;
    font-size: modular-scale(1);
  }
}

.benefits {
  @include span-columns(4);

  @include media($small-screen) {
    @include span-columns(12);
    margin-bottom: $base-spacing * 1.5;
  }
}

.requirements {
  @include span-columns(4);

  @include media($small-screen) {
    @include span-columns(12);
    margin-bottom: $base-spacing * 1.5;
  }
}

.location-map {
  margin-top: $base-spacing;
}

.sponsors-grid {
  @include clearfix;

  margin-bottom: $base-spacing;

  li {
    @include span-columns(4);
    @include omega(3n);

    @include media($small-screen) {
      @include span-columns(12);
      margin: $small-spacing/2 calc(50% - 150px);
    }
  }
}

.footer {
  background-color: mix($dark-gray, $action-color, 98%);
  color: $medium-gray;
  padding: $base-spacing 0;

  p {
    font-size: modular-scale(-1);
    margin-bottom: 0;
  }

  a {
    color: $medium-gray;
    text-decoration: underline;
  }
}

.links {
  @include span-columns(6);

  @include media($small-screen) {
    @include span-columns(12);
  }

  nav {
    margin-bottom: $small-spacing;
  }

  a {
    font-size: modular-scale(-1);
    margin-right: 1em;

    @include media($small-screen) {
      display: block;
      font-size: modular-scale(0);
      margin-right: inherit;
      text-align: center;
    }
  }
}

.newsletter {
  @include span-columns(6);

  @include media($small-screen) {
    @include span-columns(12);
    text-align: center;
  }

  label {
    font-size: modular-scale(-1);
    font-weight: 500;
  }

  input {
    display: inline-block;
    font-size: modular-scale(-1);

    &[type="email"] {
      background-color: transparent;
      border-color: $medium-gray;
      line-height: 1;
      margin-bottom: 0;
      margin-right: 1em;
      padding: $small-spacing 0.5em;
      width: 65%;

      @include media($small-screen) {
        @include span-columns(12);
        margin-bottom: $small-spacing;
      }
    }

    &[type="submit"] {
      background-color: $medium-gray;
      border: 1px solid $medium-gray;
      color: $base-font-color;
      vertical-align: baseline;
    }
  }
}

.credits {
  margin-top: $base-spacing * 2;
  text-align: center;

  @include media($small-screen) {
    margin: $base-spacing;
  }
}
