.coc,
.press {
  padding: $base-spacing 0;
}

.container {
  @include outer-container;

  @include media($small-screen) {
    padding: 0 10px;
  }
}

.go-to-root {
  font-size: modular-scale(-1);
  margin-bottom: $base-spacing;
}
