.coc,
.press {
  padding: $base-spacing 0;
}

.container {
  @include outer-container;

  @include media($small-screen) {
    padding: 0 10px;
  }
}

.go-to-root {
  font-size: modular-scale(-1);
  margin-bottom: $base-spacing;
}

.show-on-small {
  display: none;
}

@include media($small-screen) {
  .show-on-large {
    display: none;
  }

  .show-on-small {
    display: block;
  }
}
