.press-release {
  @include span-columns(7);

  @include media($small-screen) {
    @include span-columns(12);
  }

  .learn-to-code {
    margin-top: $base-spacing;
  }
}

.pr-event-details {
  @include span-columns(4);
  @include shift(1);

  @include media($small-screen) {
    @include span-columns(12);
    @include shift(0);
  }

  .section-header {
    color: $action-color;
    margin-top: $base-spacing;

    &:first-child {
      margin-top: 0;
    }
  }

  h5 {
    margin-top: $base-spacing;
  }

  p {
    font-size: modular-scale(-1);
  }
}
