@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

$column: modular-scale(3, 1em, $golden);
$gutter: modular-scale(1, 1em, $golden);
$grid-columns: 12;
$max-width: 1080px;

//$visual-grid: true;
